body {
    background-color: #ffffff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.section-log {
    width: 320px;
    padding: 30px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

h1,
h2 {
    text-align: center;
    margin-bottom: 20px;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #80ceea;
}

.or-separator {
    text-align: center;
    margin: 20px 0;
    position: relative;
}

.or-separator:before,
.or-separator:after {
    content: "";
    display: inline-block;
    width: 40%;
    height: 1px;
    background-color: #ccc;
    position: absolute;
    top: 50%;
}

.or-separator:before {
    right: 10px;
}

.or-separator:after {
    left: 10px;
}

.login-with-google {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: none;
    border-radius: 4px;
    background-color: #ffffff;
    color: #62676d;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
}

.login-with-google img {
    width: 70px;
    margin-right: 10px;
}

.planify-reference {
    text-align: center;
    margin-top: 20px;
    color: #888;
}
/* BACK */
.input-log{
    display: flex;
    width: 320px;
    border: solid 1px #cccccc;
    height: 30px;
    border-radius: 5px;
}